<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Private Events</h1>
      <%= link_to "Sign Up", new_user_url, class: "btn btn-primary btn-xl rounded-pill mt-5"%>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<div class="container" id="events-index">
  <div class="text-center text-black">
    <br><h1 class="masthead-heading mb-0">Events</h1><br>
  </div>
    <% @events.each do |event| %>
    <div class="row">
      <%= render 'layouts/event', :event => event  %>
    </div>
    <% end %>
</div>
